alembic==1.7.5
aniso8601==9.0.1
attrs==21.2.0
autopep8==1.6.0
click==8.0.3
colorama==0.4.4
dataclasses==0.6
docopt==0.6.2
Flask==2.0.2
Flask-DB==0.3.2
flask-marshmallow==0.14.0
Flask-RESTful==0.3.9
Flask-SQLAlchemy==2.5.1
greenlet==1.1.2
gunicorn==20.1.0
iniconfig==1.1.1
itsdangerous==2.0.1
Jinja2==3.0.3
Mako==1.1.6
MarkupSafe==2.0.1
marshmallow==3.14.1
marshmallow-sqlalchemy==0.26.1
more-itertools==8.10.0
packaging==21.3
pip==21.3.1
pluggy==1.0.0
py==1.11.0
pycodestyle==2.8.0
pyparsing==3.0.6
pytest==6.2.5
pytest-watch==4.2.0
python-dotenv==0.19.2
pytz==2021.3
result==0.7.0
setuptools==59.2.0
six==1.16.0
SQLAlchemy==1.4.27
SQLAlchemy-Utils==0.37.9
toml==0.10.2
watchdog==2.1.6
Werkzeug==2.0.1
wheel==0.37.0
